# Rendered Resume Directory
dist/

# Temporary Rendered Resume
src/twrobel-resume.pdf

# LaTeX support files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# OS X Files
.DS_Store

# Gradle build directory
.gradle/
